.form-container{
    min-height: calc(100vh - 40px);
}

.container{
    margin: 5%;
}

.container-logs{
    background-color: rgb(255, 216, 145);
}

.btn-bluee{
    background-color:rgb(46, 154, 255);
    margin-bottom: 10px;
}